.container {
    border: solid 1px;
    margin: auto;
    max-width: 960px;
    font-size: large;
}

header {
    border: solid 2px;
    margin: 20px;
    padding-left: 15px;
}

footer {
    border-top: 4px dashed;
    padding: 15px;
    display: flex;
    justify-content: center;
}

section {
    border: solid 1px;
    margin: 20px;
    padding: 10px;
}

article {
    border: solid 1px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

article > div {
    border-left: dotted 4px;
    padding: 10px;
    max-width: 60%;
    align-self: center;
}

/* ul {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    list-style: none; 
}  */

img {
    /* border: 1px solid; */
    border-left: dotted 4px;
    max-width: 25%;
    padding: 10px;
    height: auto; 
}