.container {
    border: solid 1px black;
    margin: auto;
    max-width: 960px;
    font-size: large;
}

header {
    border: solid 1px black;
    margin: 20px;
    padding-left: 15px;
}

footer {
    border: solid 1px;
    display: flex;
    justify-content: center;
}

article {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* text-align: center; */
    margin: 20px;
    padding: 10px;
}

article > div, img {
    border-left: dotted 4px;
    /* border: solid 1px; */
    max-width: 60%;
    align-self: center;
    padding: 10px;
}

ul {
    /* border: solid 1px; */
    /* display: flex;
    flex-direction: row;
    list-style: none;  */
} 

img {
    height: auto; 
    max-width: 20%;
}